html
  head
      style.
            body {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              height: 100vh;
            }
  title= "Pode Crear api"
  body
    h1= "Bem vindo ao Pode crer api"
    h2= "esse serviço e destinado apenas para desenvolvedores"
